.open-animation {
  animation: openInputAnimation 100ms linear alternate;
}
@keyframes openInputAnimation {
  from {
    width: 0px;
    background-color: transparent;
  }
  to {
    width: 100%;
    background-color: white;
  }
}

.close-animation {
  animation: closeInputAnimation 100ms linear alternate;
}
@keyframes closeInputAnimation {
  from {
    width: 100%;
    background-color: white;
  }
  to {
    width: 0px;
    background-color: transparent;
  }
}

.rotate-animation {
  animation: rotate 200ms linear;
}

@keyframes rotate {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.rotate-animation-2 {
  transform: rotate(45deg);
  animation: rotate2 200ms linear;
}

@keyframes rotate2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
