@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 1px 1px 5px black;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.5);
}
.absolute.inset-0.z-10.h-full.bg-white.rounded-md.shadow {
  background-color: rgb(255, 4, 0);
}

@media only screen and (min-width: 720px) {
  .fixed.z-\[9999\].pointer-events-auto.bg-white.box-border.w-full.shadow-2xl.shadow-blue-gray-900\/10.top-0.left-0.p-4.transition-all.ease-linear.duration-75.\!max-w-full.md\:\!max-w-xs.\!-translate-x-full
    ~ .absolute.inset-0.w-full.h-full.pointer-events-auto.z-\[9995\].bg-black.bg-opacity-60.backdrop-blur-sm {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .header {
    backdrop-filter: 4px;
  }
}

.sceleton-animation {
  background: #888;
  animation: sceleton 500ms infinite linear;
}

@keyframes sceleton {
  0% {
    background: #bbb;
  }
  50% {
    background: #aaa;
  }
  100% {
    background: #bbb;
  }
}

html {
  scroll-behavior: smooth;
}
