@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 1px 1px 5px black;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.5);
}

.search-product-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(250, 0, 0, 0.7);
}
.absolute.inset-0.z-10.h-full.bg-white.rounded-md.shadow {
  background-color: #800000;
}

@media only screen and (min-width: 720px) {
  .fixed.z-\[9999\].pointer-events-auto.bg-white.box-border.w-full.shadow-2xl.shadow-blue-gray-900\/10.top-0.left-0.p-4.transition-all.ease-linear.duration-75.\!max-w-full.md\:\!max-w-xs.\!-translate-x-full
    ~ .absolute.inset-0.w-full.h-full.pointer-events-auto.z-\[9995\].bg-black.bg-opacity-60.backdrop-blur-sm {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .header {
    backdrop-filter: 4px;
  }
}

.sceleton-animation {
  background: #ddd;
  animation: sceleton 500ms infinite linear;
}

@keyframes sceleton {
  0% {
    background: #eee;
  }
  50% {
    background: #ddd;
  }
  100% {
    background: #eee;
  }
}

html {
  scroll-behavior: smooth;
}

.scroll-none::-webkit-scrollbar {
  display: none;
}

.side-bar-links a.active {
  @apply text-[#b30000];
}

.logo {
  display: none;
}

@media only screen and (min-width: 360px) {
  .logo {
    display: block;
  }
}

.connect {
  display: none;
}

@media only screen and (min-width: 1240px) {
  .connect {
    display: block;
  }
}

.category-links {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .category-links {
    display: block;
  }
}

.product-category {
  display: none;
}

@media only screen and (min-width: 425px) {
  .product-category {
    display: block;
  }
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.badge-color {
  background-color: #b30000 !important;
}
